[submodule "employee_mood_frontend"]
	path = employee_mood_frontend
	url = https://github.com/dev0x451/employee_mood_frontend/
[submodule "employee_mood_backend"]
	path = employee_mood_backend
	url = https://github.com/pervukhina-anna/employee_mood_backend/
